<div class="container">

    <h1 class="mt-3">Add Contact</h1>
  


    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-2">
          <div class="mt-3">
            <label class="form-label" for="firstName">FirstName</label>
            <input type="text"
            id="firstName"
            class="form-control"
            name="firstName"
            [(ngModel)]="model.firstName">
          </div>

          <div class="mt-3">
            <label class="form-label" for="lastName">LastName</label>
            <input type="text"
            id="lastName"
            class="form-control"
            name="lastName"
            [(ngModel)]="model.lastName">
          </div>

          <div class="mt-3">
            <label class="form-label" for="email">Email</label>
            <input type="text"
            id="email"
            class="form-control"
            name="email"
            [(ngModel)]="model.email">
          </div>
          <div class="mt-3">
            <label class="form-label" for="phoneNumber">PhoneNumber</label>
            <input type="text"
            id="phoneNumber"
            class="form-control"
            name="phoneNumber"
            [(ngModel)]="model.phoneNumber">
          </div>
          <div class="mt-3">
            <label class="form-label" for="address">Address</label>
            <input type="text"
            id="address"
            class="form-control"
            name="address"
            [(ngModel)]="model.address">
          </div>
          <div class="mt-3">
            <label class="form-label" for="city">City</label>
            <input type="text"
            id="city"
            class="form-control"
            name="city"
            [(ngModel)]="model.city">
          </div>
          <div class="mt-3">
            <label class="form-label" for="city">State</label>
            <input type="text"
            id="state"
            class="form-control"
            name="state"
            [(ngModel)]="model.state">
          </div>
          <div class="mt-3">
            <label class="form-label" for="country">Country</label>
            <input type="text"
            id="country"
            class="form-control"
            name="country"
            [(ngModel)]="model.country">
          </div>
          <div class="mt-3">
            <label class="form-label" for="postalCode">PostalCode</label>
            <input type="text"
            id="postalCode"
            class="form-control"
            name="postalCode"
            [(ngModel)]="model.postalCode">
          </div>
  
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
  
      </div>
  
  
    </form>
  
  </div>
  